.roti-content-container{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.roti-heading h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 6rem;
    font-size: 4rem;
}

.roti-images img{
    width: 100%;
    margin-bottom: 3rem;
    height: 100%;
}

.roti-details h1{
    text-align: center;
    color: red;
    padding-top: 3rem;
}

.roti-details ul{
    font-size: 2rem;
    list-style: none;
    margin-bottom: 0rem;
}

.roti-details p{
    font-size: 2.3rem;
    padding-left: 2rem;
}